
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #6f5959;
    font-family: monospace;
    color: white;
}

.throw-away-center-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.throw-away-center {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

textarea {
    border: 0;
    font-family: monospace;
    font-size: 10pt;
    color: #5f6367;
    padding: 1em;
    background-color: white;
    border-radius: 2px;
}

h1.throw-away-title {
    width: 100%;
    color: white;
    font-family: monospace;
    margin-left: 10px;
    margin-top: 10px;
}

p.throw-away-actions {
    text-align: right;
}

button {
    border: none;
    font-family: monospace;
    font-size: 12pt;
    padding: 6px;
    outline: 0;
    background-color: #966f6f;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #6f3131;
}

.throw-away-footer {
    text-align: left;
}

.throw-away-footer:not(.stats-visible) > #hide-stats-button {
    display: none;
}

.throw-away-footer.stats-visible > #show-stats-button {
    display: none;
}

.throw-away-footer:not(.stats-visible) > #throw-away-stats {
    display: none;
}

#throw-away-stats {
    margin-left: 15px;
}

